#search {
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 1px;
  position: relative;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  height: 44px;
  width: 235px;
  background: #7a7a7c;
}
#search::-ms-clear {
  display: none;
}
#search input {
  border-radius: 0;
  font: 400 16px/24px "Lato", sans-serif;
  color: #ffffff;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  height: 44px;
  width: 180px;
  background: #7a7a7c;
  padding: 5px 0 5px 13px;
}
#search input::-ms-clear {
  display: none;
}
#search input::-webkit-input-placeholder {
  color: #ffffff;
}
#search input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
#search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
#search input:-ms-input-placeholder {
  color: #ffffff;
}
#search a {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  top: 50%;
  margin-top: -12px;
  right: 38px;
}
#search a > .search_icon {
  display: block;
}
#search a > .search_icon:hover:before {
  color: #00a1df;
}
#search a > .search_icon:before {
  font-family: FontAwesome;
  font-size: 23px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: '\f002';
  color: #373839;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#search a > .search_icon:hover {
  background-position: center -17px;
}
@media (max-width: 1199px) {
  #search {
    width: 940px;
  }
  #search input {
    width: 890px;
  }
}
@media (max-width: 979px) {
  #search {
    width: 748px;
  }
  #search input {
    width: 698px;
  }
}
@media (max-width: 767px) {
  #search {
    width: 420px;
    margin-top: 20px;
    height: 34px;
  }
  #search input {
    height: 34px;
    width: 370px;
  }
}
@media (max-width: 479px) {
  #search {
    width: 270px;
  }
  #search input {
    width: 220px;
  }
}
